.tools {
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: $light-autumn;
  padding: 1.5em 1.5em 4em 1.5em;

  // border: 1px blue dashed;

  @media all and (min-width: 768px) {
    width: 50vw;
  }
  @media all and (min-width: 1000px) {
    padding-top: 0;
  }

  &__title {
    color: $coolgray;
    padding: 1em;
    font-family: $font-poppins;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 2em;

    // border: 1px red dashed;
  }

  &__flex {
    width: 70vw;

    margin: 0 1.5em 0 1.5em;

    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;


    @media all and (min-width: 768px) {
      width: 30vw;
      margin: 1.5em 1.5em 0 1.5em;
    }
    @media all and (min-width: 1000px) {
      width: 30vw;
      margin: 1em 1.5em 0 1.5em;
    }


    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 80px;
      // border: 1px blue dashed;

    }

    &__text {
      color: black;
      font-family: $font-poppins;
      font-weight: 400;
      font-size: 1em;
    }
  }
}

.logos {
  padding: 25px;
  color: $autumn;
}
