.cv {
  font-family: $font-main;
  padding: 2em;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media all and (min-width: 768px) {
    // border: $coolgray 2px solid;
    padding: 3em;
  }

  @media all and (min-width: 1000px) {
    // border: $coolgray 2px solid;
    padding: 4em;

  }
  &__title {
    color: $autumn;
    font-family: $font-poppins;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
    align-self: center;
    padding: 1em 0 3em 0;
  }
  &__subtitle {
    color: $coolgray;
    font-family: $font-main;
    // line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.5em;
    text-align: right;

    margin-bottom: 2em;
    @media all and (min-width: 768px) {
      // border: $coolgray 2px solid;
      padding-right: 4em;
      margin-bottom: 3em;
    }
  }

  &__section {
    margin-bottom: 4em;
    @media all and (min-width: 1000px) {
    width: 900px;
    }
  }

  &__download{
    text-decoration: none;
    color: $light-autumn;

    @media all and (min-width: 768px) {
      color: $autumn;
    }
  }

  &__download:hover, cv-button:hover{
    color: $light-autumn;
  }


  &__list {
    position: relative;
    display: block;
    list-style: none;
    padding-left: 0;
    width: 100%;
    margin-bottom: 1rem;

    @media all and (min-width: 768px) {
      padding-right: 3rem;
    }

    &__li {
      position: relative;
      display: block;
      padding-left: 30px;
      margin-bottom: 20px;
    }

    &__li:first-child .cv__component__date {
      background-color: $autumn;
    }

    &__li:first-child::before {
      background-color: $autumn;
      box-shadow: 0 0 0 2px $autumn;
    }

    &__li::before {
      content: '';
      position: absolute;
      top: 8px;
      left: -8px;
      width: 18px;
      height: 18px;
      background-color: #e3e5e9;
      border: 3px solid #fff;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
  &__list::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 2px;
    height: 95%;
    background-color: #e3e5e9;
    box-sizing: border-box;
  }

  &__component {
    &__date {
      width: fit-content;
      padding: 6px 20px;
      background-color: #747474b8;
      color: #fff;
      font-weight: 500;
      border-radius: 30px 0 60px 30px;
      margin-top: 1.5em;
      font-family: $font-poppins;
    }

    &__info {
      background-color: #f4f5f8;
      margin-top: 8px;
      padding: 20px;
      border-radius: 4px;
    }

    &__role {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      line-height: 1.2;
      font-family: $font-poppins;
      color: $coolgray;
    }

    &__location {
      display: block;
      font-weight: 500;
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 10px;
      color: $autumn;
    }

    &__description {
      display: block;
      font-weight: 500;
      font-size: 14px;
      margin-top: 5px;
      margin-bottom: 10px;
      color: $coolgray;

      line-height: 1.5;

    }
  }
}

// .cv-parent {
//   @media all and (min-width: 1000px) {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(4, 1fr);
//     grid-column-gap: 0px;
//     grid-row-gap: 0px;
//   }
// }

// .cv-div1 {
//   @media all and (min-width: 1000px) {
//     grid-area: 1 / 1 / 2 / 4;
//   }
// }
// .cv-div2 {
//   @media all and (min-width: 1000px) {
//     grid-area: 2 / 1 / 4 / 2;
//   }
// }
// .cv-div3 {
//   @media all and (min-width: 1000px) {
//     grid-area: 3 / 3 / 5 / 4;
//   }
// }
